DerivedData/
preview/
build/
.history/
.lh/
.env
node_modules/
lib/
.runtimeconfig.json
backend/firebase/functions/.env
backend/firebase/functions/.env.*
!backend/firebase/functions/.env.example

*.xcuserstate
*.xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

.DS_Store
